<div id="education">
  <h3>EDUCATION</h3>
  <ul class="edu-items">
    <li class="edu-item">
      <p><strong> Bachelor of Science: </strong> Computer Science</p>
      <p>2019-2013</p>
      <p>University of Regina</p>
    </li>
    <li class="edu-item">
      <p><strong> Web Dev Immersive: </strong> 10 week bootcamp</p>
      <p>2016</p>
      <p>General Assembly Toronto</p>
    </li>
    <li class="edu-item">
      <p><strong> Master of Fine Arts: </strong> English</p>
      <p>2012-2014</p>
      <p>City College of New York</p>
    </li>
    <li class="edu-item exclude">
      <p><strong> Bachelor of Arts: </strong> English</p>
      <i> summa cum lauda </i>
      <p>2009-2012</p>
      <p>City College of New York</p>
    </li>
  </ul>
</div>
