<div id="work-experience">
  <h3>WORK EXPERIENCE</h3>
  <div class="job-detail">
    <p><strong>Software & Hardware Development Intern</strong></p>
    <p>Lytehorse Labs | May 2022 - Aug 2022 | Regina, SK</p>
    <ul>
      <li>
        I was the solo developer in charge of this project. Overall job was to
        develop software to run a custom built dynamometer that company intended
        to use for testing electric ATV.
      </li>
      <li>Primary task #1 was to develop native software using Python.</li>
      <ul>
        <li>
          Using serial protocol, Python signalled Ardunio. Arduino then
          siganlled electric motor controllers on machine.
        </li>
        <li>
          Tools used included TKinter for GUI; multi-threading and TCP socket
          APIs for asynchronous communication.
        </li>
      </ul>
      <li>
        Primary task #2 was to develop logic for Arduino microcontroller in C
        language. This handled communcation between user and machine using
        serial.
      </li>
      <ul>
        <li>
          Two-way serial communication meant Arduino accepted input from both
          Python and motor contoroller systems simultaneously.
        </li>
        <li>
          Ardruino signal directions: received serial input from Python,
          received serial input from motor controller, sent out appropriate
          serial output responses.
        </li>
      </ul>
    </ul>
  </div>
  <div class="job-detail">
    <p><strong>Front End Developement Intern</strong></p>
    <p>54e Dev Studios | Jan 2022 - May 2022 | **Regina**, SK</p>
    <ul>
      <li>
        Overall job was to develop new client-side features for company's
        internal content management system using React and Typescript.
      </li>
      <li>
        Primary task was to fulfill supervisor assigned tickets, and to assign
        new tickets to myself when required. Tasks included:
      </li>
      <ul>
        <li>
          Adding/removing elements such as buttons, checkboxes, radios, etc.,
          along with required operating logic.
        </li>
        <li>
          Adding new pages to CMS for entirely new functionality, i.e. adding an
          '/items' page.
        </li>
      </ul>
      <li>Secondary task was to make the CMS mobile-friendly.</li>
      <ul>
        <li>
          After noticing that many CMS pages were not responsive, I overhauled
          as many pages as possible, making them functionally responsive on
          mobile.
        </li>
        <li>
          Many stafff were using the CMS under non-responsive conditions, so
          this improvement benefited staff positivley.
        </li>
      </ul>
      <li>
        Additional tasks included monitoring build pipeline for errors, and
        assuring smooth merge of all my pull requests.
      </li>
    </ul>
  </div>
  <div class="job-detail">
    <p><strong>Full-Stack Developement Intern</strong></p>
    <p>Raven Industries | May 2021 - Aug 2021 | Regina, SK</p>
    <ul>
      <li>
        Overall jobs were to develop new client-side features on ground control
        driving simulator for autonomous vehicle OMNiDRIVE, as well as to
        increase back-end systems test coverage.
      </li>
      <li>Primary task #1 was to create client-side components using React:</li>
      <ul>
        <li>
          Creating components within the simulator to expand simulator
          functionality.
        </li>
        <li>
          Main React task was to add a new expandable panel UI, along with the
          connecting logic to make it operational.
        </li>
        <li>
          Other smalls task included adding small UI items such as buttons.
        </li>
      </ul>
      <li>
        Primary task #2 was to write unit tests for back-end vehicle systems
        using Python:
      </li>
      <ul>
        <li>
          Unit testing for internal systems meant deep-diving into code used for
          driving an autonmous vehicle.
        </li>
        <li>I was able to increase the test coverage by 10%.</li>
      </ul>
    </ul>
  </div>
  <div class="job-detail">
    <p><strong>Front-End Developement Intern</strong></p>
    <p>Sasktel | July 2020 - Dec 2020 | Regina, SK</p>
    <ul>
      <li>
        Overall job was to develop and test new client-side features for company
        website <strong>sasktel.ca</strong> across multiple environments i.e.
        Testing, Pre-Prod, Prod.
      </li>
      <li>
        Primary task was to fulfil supervisor assigned tickets. Assigned items
        included:
      </li>
      <ul>
        <li>
          Adding small UI features to pages, i.e buttons, using Angular and
          vanilla JS.
        </li>
        <li>
          Test that features worked across multiple environments, i.e. Test,
          Pre-prod, Prod.
        </li>
      </ul>
      <li>
        Secondary tasks included investigating and fixing bugs reported by QA
        testers.
      </li>
    </ul>
  </div>
  <div class="job-detail">
    <p><strong>Front-End Developement</strong></p>
    <p>Virtual High School | June 2017 - Sept 2018 | BayField, ON</p>
    <ul>
      <li>
        Overall job was to develop new client-side features for company's
        internal content management system using Vue and Javascript.
      </li>
      <li>
        Primary task was to develop interactive educational tools, such as
        matching drag-and-drop games, which were used in school's courses.
      </li>
      <ul>
        <li>
          These were used to supplement the regular course materials, and were
          dropped into pages by teachers during course creation.
        </li>
      </ul>
      <li>
        Secondary task #1 was to write test coverage for all client-side logic.
      </li>
      <ul>
        <li>Setup test suite using Mocha, Karma, and Chai.</li>
        <li>
          Improved test coverage from zero to cover 100% of all client-side
          logic.
        </li>
      </ul>
      <li>
        Secondary task #2 was to act as maintainer for project documetation.
        Docs were generated using Jsdoc.
      </li>
    </ul>
  </div>
</div>
