main {
  position: static;
  transform: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.resume-header {
  text-align: center;
}
.resume-container h3 {
  text-align: center;
  padding-bottom: 5px;
  margin-bottom: 10px;
}
.resume-complete.resume-container h3 {
  border-bottom: silver 1px solid;
}
.resume-container {
  background-color: whitesmoke;
  width: 80%;
  max-width: 1200px;
  margin: auto;
  font-family: monospace;
  color: black;
  padding: 0 15px;
  padding-bottom: 10px;
}
.resume-title {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
.resume-title h2 {
  margin-bottom: 0;
}
.resume-title h4 {
  margin: 0;
}
table {
  margin-top: 10px;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
.description {
  font-size: 0.8em;
}
.edu-items {
  list-style: none;
}
.edu-item p {
  padding: 2px 0;
}
.edu-item:not(.exclude) {
  max-width: 50%;
  margin-bottom: 10px;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
}
#complete-resume-h3,
#compact-resume-h3 {
  margin-top: 0;
  margin-bottom: 5px;
}
.print-only {
  display: none;
}
