<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chris Del Portfolio</title>
    {% seo title=false %}
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="assets/apple-touch-icon.png"
    />
    <link rel="manifest" href="assets/site.webmanifest" />
    <link rel="stylesheet" href="assets/css/normalize.css" />
    <link rel="stylesheet" href="assets/css/open-color.css" />
    <link rel="stylesheet" href="assets/css/styles.css" />
    <link
      rel="stylesheet"
      type="text/css"
      media="print"
      href="../assets/print.css"
    />
    <link rel="stylesheet" href="../assets/style.css" />
  </head>

  <body>
    <main>{{ content }}</main>
  </body>
</html>
