.no-print {
  visibility: hidden !important;
  position: absolute;
  left: -999em;
}
/* Additional styles for printing */
* {
  visibility: visible !important;
}
.skills-print-container {
  display: flex;
}
.print-only {
  display: block !important;
}
